* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;

}

body,
html {
    font-family: 'Courier New', Courier, monospace;
}

#home {
    padding: 100px;
}

#home {
    position: relative;


}

#home .homeBanner {
    width: 100%;
    height: 100%;
}

#home .homeBanner img {
    width: 100%;
    height: 100vh;
    object-fit: cover;
}